<div class="board">
  <div class="board-actions">
    <div class="filters">
      <mat-form-field class="input-field-standalone padding-r-s">
        <mat-label title="Filter by title">Filter by title</mat-label>
        <input matInput type="text" [formControl]="titleFilterControl" />
        <button
          *ngIf="titleFilterActive()"
          mat-icon-button
          matTooltip="Clear title filter"
          matTooltipClass="tmb-tooltip"
          (click)="clearFilters(true, false, false)"
        >
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="input-field-standalone padding-r-s">
        <mat-label title="Filter by assignee">Filter by assignee</mat-label>
        <input matInput type="text" [formControl]="assigneeFilterControl" />
        <button
          *ngIf="assigneeFilterActive()"
          mat-icon-button
          matTooltip="Clear assignee filter"
          matTooltipClass="tmb-tooltip"
          (click)="clearFilters(false, true, false)"
        >
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="select-field-standalone">
        <mat-label title="Filter by priority">Filter by priority</mat-label>
        <mat-select
          panelClass="select-panel"
          multiple
          [formControl]="prioritiesFilterControl"
        >
          <mat-option *ngFor="let priority of taskPriorities" [value]="priority">
            {{ priorityLabels[priority - 1] }}
          </mat-option>
        </mat-select>
        <button
          *ngIf="prioritiesFilterActive()"
          mat-icon-button
          matTooltip="Clear priority filter"
          matTooltipClass="tmb-tooltip"
          (click)="clearFilters(false, false, true)"
        >
          <mat-icon svgIcon="reset"></mat-icon>
        </button>
      </mat-form-field>

      <!-- Sorting Button -->
      <mat-form-field class="input-field-standalone padding-r-s">
        <mat-label title="Sort tasks by priority">Sort tasks by priority</mat-label>
        <mat-select
          panelClass="select-panel"
          [formControl]="sortControl"
        >
          <mat-option [value]="'asc'">Ascending</mat-option>
          <mat-option [value]="'desc'">Descending</mat-option>
        </mat-select>
        <button
          mat-icon-button
          matTooltip="Sort tasks by priority"
          matTooltipClass="tmb-tooltip"
          (click)="sortTasks()"
        >
          <mat-icon svgIcon="sort"></mat-icon>
        </button>
      </mat-form-field>

      <!-- Add Task Button -->
      <button
        class="task-add"
        mat-icon-button
        matTooltip="Create new task"
        matTooltipClass="tmb-tooltip"
        (click)="addTask()"
      >
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </div>
  </div>
  <div class="board-categories">
    <tmb-task-category
      [tasks]="toDoTasks()"
      [title]="'To Do'"
      [category]="TaskStatus.ToDo"
    ></tmb-task-category>
    <tmb-task-category
      [tasks]="inProgressTasks()"
      [title]="'In Progress'"
      [category]="TaskStatus.InProgress"
    ></tmb-task-category>
    <tmb-task-category
      [tasks]="completedTasks()"
      [title]="'Completed'"
      [category]="TaskStatus.Completed"
    ></tmb-task-category>
  </div>
</div>